
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
}

body{
    max-width: 100vw;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Open Sans",sans-serif;
    color: #fff;
    overflow-y: scroll;
    background-color:#282828;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.wrapper{
    display: grid;
    position: absolute;
    top: 0;
    overflow: hidden;
    grid-template-columns: 15% 85%;
}

.side-bar{
    display: block;
    position: fixed;
    background-color:#1d1d1d ;
    width: 15% ;
    max-width: 100vw;
    height: 100vh;
    z-index: 1000;
    transition: 0.5s;
}

.img-logo{
    width: 100%;
}

nav{
    margin-top: 1rem;
}
nav>a{
    padding: 0.6rem;
    display: block;
    text-align: center;
    color: #909096;
    font-size: 1rem;
    border-bottom: 1px solid #282828;
    text-decoration: none;
}
.fa-download{
    font-size: 1.3rem !important;
    margin-top: 20%;
}
.resume-btn{
    text-align: center;
    position: fixed;
    right: 5%;
    bottom: 3%;
    background-color: #909096;
    color: white;
    padding: 0.8rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
}
nav>a:hover{
    color: cyan;
}
.logo >span{
    margin-left: 57px;
    color: #fff;
    margin-top: 1px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.role{
    color: #909096 !important;
    font-size: 0.8rem !important;
    font-weight: normal !important;
    margin-left: 42px ;
}

.social-link{
    display: inline;
    display: inline;
    padding: 3%;
    margin-left: 7%;
}

.home{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100vh;

}

.skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
}

.theory{
    height: 100vh;
    margin-left: 1rem;
}
.skills-tags{
    margin-top: 2rem;
}
.internship{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.8rem;
    font-size: 1rem;
    line-height: 1.3rem;
    margin-top: 1rem;
}

.tech-skill{
    height: 100vh;
}
.Bitgenie{
    padding: .5rem;
    font-size: 1rem;
    background-color: #353535;
}
.Iot{
    padding: .5rem;
    font-size: 1rem;
    background-color: #353535;
}
.examiner{
    padding: .5rem;
    font-size: 1rem;
    background-color: #353535;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100vh;
    opacity: 0.4;
}
.theory > span{
    font-size: 3rem;
    color: cyan;
    font-weight: bolder;
    line-height: 3.1rem;
    margin-top: 2rem;
}

.theory > p{
    font-size: 1rem;
    margin-right: 2rem;
}
.tags{
    background-color: #353535;
    color: #ccc;
    font-size: .9rem;
    padding: .5em;
    margin-top: 2rem;
}

.about{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;
}

.aboutme{
    margin-top: 50%;
    margin-left: 2rem;
}

.title{
    font-size: 3rem;
    color: cyan;
    font-weight: bolder;
}

.transition{
    display: none;
}
.cover{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: teal;
    top: 0;
    left: -100vw;
    z-index: 1000;
}
.transition.slide .cover1{
    background-color: skyblue;
    animation: slide 0.3s ease-in-out forwards;
}
.transition.slide .cover2{
    background-color: teal;
    animation: slide 0.3s ease-in-out forwards;
    animation-delay: 0.3s;
}
.transition.slide .cover3{
    background-color: #094992;
    animation: slide 0.3s ease-in-out forwards;
    animation-delay: 0.6s;
}

@keyframes slide {
    from{
        left: -100vw;
    }
    to{
        left: 0;
    }
}

.container {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .image {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
/*   .education{
    display: grid;
    grid-template-columns: 1fr;
    width: 100vW;
    height: 100vh;
    margin-top: 13rem;
   
} */
.place{
    font-size: 0.8rem ;
    color:#ccc ;
}
.degree{
    margin-top: 4rem;
    border-left: 1px solid #ccc;
    padding-left: 1rem;
    margin-left: 1rem;
}
.forposition{
    position: relative;
}
.fa-graduation-cap{
    position: absolute;
    top: -8px;
    left: 3px;
    font-size: 1.4rem !important;
    z-index: 1;
}
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } 
  .project_links{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  @media (min-width:1024px) {
    .burger{
        display: none !important;
    }
    .side-bar{
        width: 15% !important;
    }
    #img{
        display: block  !important;
    }
    nav{
        display: block  !important;
    }
}

@media (max-width:1024px) {
    .burger{
        position: fixed;
        display: inline;
        left: 81%;
        top: 4%;
        z-index: 10000;
    }
    .cover{
        z-index: 10000;
    }
    .close-btn{
        display: none;
    }
    nav{
        display: none;
    }
    .side-bar{
        width: 0%;
    }
    .logo{
        display: none;
        background-color: #04041c;;
    }
    .logo >span{
        display: block;
        position: relative;
        left: 24%;
    }
    .img-logo{
        display: block;
        position: relative;
        left: 4%;
    }
    .social-link{
        position: relative;
        left: 28%;
        margin-left: 0;
    }
    .tech-skill{
        width: 100%;
        height: auto;
        margin-left: 2rem;
    }
    .skills{
        display: block;
        height: auto;
    }
    .wrapper{
        margin-left: 0%;
        max-width: 100vW;
        grid-template-columns: 1fr;
    }

    .skills{
        grid-template-columns: 1fr;
    }
    .theory{
        width: 80%;
        margin-left: 3rem;
    }
    .internship{
        height: auto;
        grid-template-columns: 1fr;
    }
    .projects{
        grid-template-columns: 1fr;
        width: 80%;
        height: auto;
    }
    .about{
        display: block;
        height: auto;
        padding-bottom: 20%;
    }
    .education{
        height: auto;
        margin-left: 14.5%;
        margin-top: 0;
    }
    .forposition{
        max-width: 55%;
    }
    .copyright{
        margin-left: 3rem;
    }
    .internship{
        max-width: 80%;
    }
    .aboutme{
        margin-left: 5rem;
    }

    .ball{
        display: none;
    }

    .container{
        margin-left: 2rem;
        margin-top: 0.9rem;
    }
}

.copyright{
    text-align: center;
    margin-right: 10rem;
   color: #909096;
}


.animate_skills:hover{
    animation: headShake;
    animation-duration: 2s;
}
